# macOS
.DS_Store

# IntelliJ IDEA (Java, C, Python 공통)
.idea/
*.iws
*.iml
*.ipr
out/

# Java
*.class
# Gradle/Maven
build/
target/
.gradle/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# C / C++
*.o
*.obj
*.out
*.exe
*.dSYM/

# VS Code
.vscode/

# 입력 테스트용 파일
input.txt
output.txt
